.card:hover {
  position: relative;
  box-shadow: 3 3px 6px #999, 10 3px 10px #999;
  background-position: 50%; 
  width: 222px;
  margin: 50px 50px 3px 90px;
  border: 7px solid#ffc200; 
  float: center;
  background-color: black;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  
}

.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #050505;
  transition: box-shadow .25s;
  border-radius: 2px;
}

.card-panel {
transition: box-shadow .5s;
padding: 24px;
margin: .5rem 0 1rem 0;
border-radius: 2px;
background-color:#65747f
}

.svg-inline--fa {
font-size: 100px;
}


.shake {
animation: shake 0.15s; 
animation-iteration-count: 10; 
}
@keyframes shake {
0% { transform: translate(0px, 0px); }
50% { transform: translate(4px, 0px); }
100% { transform: translate(-4px, 0px); }
}