.card {
  position: relative;
  box-shadow: 3 3px 6px #999, 10 3px 10px #999;
  background-position: 50%; 
  width: 222px;
  margin: 50px 50px 3px 90px;
  border: 5px solid #f1f1f1; 
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  float: center;
  background-color: black;
}